:root {
  --1-dark: #17477f;
  --1-light: #5990a1;
  --accent: #d13d51;
  --2-dark: #b9bcce;
  --2-light: #e1e2eb;
  --black: #2f2d2e;
  --white: #fff;
}

@import url("https://fonts.googleapis.com/css?family=League+Spartan:300,400,500,600,700,800,900$display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/* Navbar */
.navbar li,
.navbar a,
button {
  font-size: 16px;
  color: var(--2-dark);
}

#active {
  color: var(--white);
}

.navbar {
  font-family: "League Spartan", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 7%;
  background-color: #17477f;
}

.nav_links {
  list-style: none;
  font-weight: 700;
}

.nav_links li {
  display: inline-block;
  padding: 0rem 0.2rem;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
  cursor: pointer;
  padding: 0.3rem 0.5rem;
  border-radius: 0.5rem;
}

.nav_links li a:hover {
  color: var(--2-light);
  font-size: 18px;
  background-color: rgba(185, 188, 206, 0.3);
}

button {
  padding: 0.6rem 1rem;
  border-radius: 5rem;
  border-style: solid;
  border-color: var(--2-light);
  transition: all 0.3s ease 0s;
  color: var(--2-light);
  background-color: #17477f;
  font-weight: 700;
}

button:hover {
  color: var(--1-dark);
  border-color: var(--2-light);
  background-color: var(--2-light);
  cursor: pointer;
}

.logo img {
  width: 5rem;
}

/* hamburger menu stuff */
.hamburger_menu {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 2rem;
  height: 0.2rem;
  margin: 0.4rem auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--2-light);
}

@media (max-width: 890px) {
  .hamburger_menu {
    display: block;
  }

  .nav_links {
    display: none;
  }
}

/* Events */

body {
  background: #17477f;
}
.header {
  font-family: "League Spartan", sans-serif;
  font-size: 79px;
  color: #d13d51;
  text-align: center;
  text-shadow: 2px 2px #e1e2eb;
}
.section1 {
  height: 400px;
  position: relative;
  width: 400px;
}
.text {
  background: radial-gradient(
    ellipse at center,
    #b9bcce 0%,
    #b9bcce 70%,
    rgba(0, 128, 172, 0) 70.3%
  );
  height: 100%;
  width: 100%;
}
.text {
  color: white;
  position: relative;
  margin: 0;
  padding-top: 40px;
  padding-left: 100px;
}
.text h2 {
  font-family: "League Spartan", sans-serif;
  font-size: 37px;
  padding-top: 30px;
  color: #17477f;
  font-weight: 700;
}
.text p {
  padding-top: 30px;
  font-family: "Lato", sans-serif;
  font-size: 22px;
}
.circle1 {
  margin-left: 20%;
  margin-top: 50px;
}
.circle2 {
  position: absolute;
  left: 50%;
  top: 60%;
}
.circle3 {
  position: absolute;
  left: 20%;
  top: 85%;
}
